.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    border: 1px solid black;
  }


.counter button {
    padding: 20px;
    margin: 8px;
    font-size: inherit;
}

.counter button:first-child {
    background-color: red;
}

.counter button:last-child {
    background-color: green;
}